EIO:CFG_1.0:6:1::
#
EIO_SIGNAL:

      -Name "DO_05" -SignalType "DO" -Access "All"

      -Name "DO_04" -SignalType "DO" -Access "All"

      -Name "Attach" -SignalType "DO" -Access "All"

      -Name "Dettach" -SignalType "DO" -Access "All"

      -Name "DI_01" -SignalType "DI" -Access "All"

      -Name "DO_01" -SignalType "DO" -Access "All"
